*{
    font-family: Arial;
}
body {
   margin: 0;
   padding: 0;
}
.navbar{
    display: flexbox;
    background-color: black;
    height: 70px;
    text-align: center;
    overflow: hidden;
}

.navbar h1{
    color: white;
}

.home{
    display: grid;
    grid-template-areas: 
    "hero hero hero"
    "main-frame main-frame main-frame"
    "button-group button-group button-group";
    gap: 1%;
}
.hero{
    display: flex;
    grid-area: hero;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main-frame{
    grid-area: main-frame;
    display:flex;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
}
.button-group{
    grid-area: button-group;
}

.button-group form{
    display: flex;
    align-content: space-around;
    justify-content: center;
    gap: 10%;
}

.button{
    padding:1%;
    width: 20%;
}
