<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
        </div>  
    </div>
    </nav>

<!-- Hero Page -->
    <div class="hero d-flex justify-content-center align-items-center" style="height: 100vh;"> 
        <h1>Gunita Studios</h1>
    </div>

<!-- Select a layout -->
    <div class="layout container justify-content-center align-items-center g-4" style="height: auto;">
        <div class="row">
            <div class="hero text-center">
                <h2>Select a Layout</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="layout-frame text-center gap-4">
                <img src="../media/layout-1.png" class="mx-5" alt="Layout 1" width="200" height="auto">
                <img src="../media/layout-2.png" class="mx-5" alt="Layout 2" width="200" height="auto">
                <img src="../media/layout-3.png" class="mx-5" alt="Layout 3" width="200" height="auto">
            </div>
        </div>
    </div>


<!-- Photobooth -->
    <div class="home container justify-content-center align-items-center g-4">
        <div class="row">
            <div class="hero text-center">
                <h1>Start Snapping</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="main-frame text-center">
                <video id="cameras" autoplay playsinline width="500" style="transform:  scaleX(-1);"></video>
                <canvas id="canvas" style="display:none;"></canvas>         
            </div>
        </div>
        <div class="row mt-2">
            <div class="button-group text-center">
                <button class="button" input="submit" onclick="takePicture()">Capture</button>
                <button class="button">Filter 2</button>
            </div>
        </div>
        <div id="snapshot-container" class="row mt-4 text-center">
            <h2>Snapshots</h2>

        </div>
    </div>

    <!-- Script to turn on camera -->
    <script>
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            const cam = document.getElementById("camera");
            cam.srcObject = stream;
        })
        .catch(err => {
            console.error("Camera error:", err);
        });
    </script>

    <!-- Script to take picture -->
    <script>
        function takePicture() {
            const video = document.getElementById("camera");
            const canvas = document.getElementById("canvas");
            const ctx = canvas.getContext("2d");

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            ctx.drawImage(video, 0, 0);
            const imgData = canvas.toDataURL("image/png");

            const img = document.createElement("img");
            img.src = imgData;
            img.width = 300;
            document.getElementById("snapshot-container").appendChild(img);
        }
    </script>

</body>

</html>